.wrapper{
	max-width: var(--width-max);
	padding:var(--spacing-large) 0;
	margin: 0 630px;
}

@media screen and (max-width:2200px){
	.wrapper{
		margin: 0 400px;
	}
}
@media screen and (max-width:1950px){
	.wrapper{
		margin: 0 300px;
	}
}
@media screen and (max-width:1400px){
	.wrapper{
		margin: 0 100px;
	}
}